.button {
	width: auto;
	border-radius: 0.375rem;
	background-color: var(--indigo-dark);
	transition: all 0.2s;
	color: var(--white);
	padding: 0.5rem 1rem;
	&:hover {
		background-color: var(--indigo-light);
	}
	&:disabled {
		opacity: 0.5;
	}
}
