@mixin font-face($font-family, $weight, $weightStr, $style) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src:
      url('/fonts/' + $font-family + '-' + $weightStr + '.woff2') format('woff2'),
      url('/fonts/' + $font-family + '-' + $weightStr + '.woff') format('woff');
  }
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
